[core]
	excludesfile = ~/.gitignore
	editor = nvim
	ignorecase = false

[alias]
	aa = add --all
	br = branch
	cm = commit -m
	co = checkout
  st = status
	fpush = push --force-with-lease
	unadd = reset
	uncommit = reset --soft head^

[branch]
	sort = -committerdate

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
  smudge = git-lfs smudge -- %f

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[init]
	defaultbranch = main

[pull]
	rebase = true

[push]
  default = simple

[diff]
  tool = nvimdiff

[gpg]
	format = ssh
