@define-color background rgba(21, 21, 21, 1.0);
@define-color background-alt rgba(68, 68, 70, 0.05);
@define-color border rgba(232, 227, 227, 0.2);
@define-color red rgb( 182, 100, 103);
@define-color white rgb( 232, 227, 227 );

* {
  all: unset;
  font:
    15pt "JetBrains Mono Nerd Font"
}

/* Button */
button {
  box-shadow: inset 0 -0.25rem transparent;
  border: none;
}

button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

/* Tooltip */
tooltip {
  background: @background;
  color: @white;
  border: 1px solid @border;
  border-radius: 5px;
}

tooltip label {
  margin: 0.5rem;
}

/*  Waybar window */
window#waybar {
  background: @background;
}

/* Left Modules */
.modules-left {
  padding-left: 0.5rem;
}

/* Right Modules */
.modules-right {
  padding-right: 0.5rem;
}

/* Modules */
#tray,
#language,
#pulseaudio,
#mode,
#clock {
  color: @white;
  background: @background-alt;
  border: 1px solid @border;
  border-radius: 5px;
  margin: 0.7rem 0.35rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem ; 
}
 
#workspaces button {
  background: @background;
  color: @white;
  border: 1px solid @border;
  border-radius: 3px;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-right: 0.8rem;
  margin: 0.7rem 0.35rem;
  transition: 200ms linear;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  background: lighter(@white);
  color: @background;
}

#workspaces button.urgent {
  background: @red;
  color: @background;
}

#workspaces button.urgent:hover {
  background: lighter(@red);
  color: @background;
}

#workspaces button.focused {
  background: @white;
  color: @background;
}

#workspaces button.focused:hover {
  background: lighter(@white);
  color: @background;
}

/* Systray */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @red;
}

menu {
  background: @background;
  border: 1px solid @border;
  border-radius: 8px;
}

menu separator {
  background: @border;
}

menu menuitem {
  background: transparent;
  padding: 0.5rem;
  transition: 200ms;
}

menu menuitem:hover {
  background: @white;
  color: @background;
}

menu menuitem:first-child {
  border-radius: 8px 8px 0 0;
}

menu menuitem:last-child {
  border-radius: 0 0 8px 8px;
}

menu menuitem:only-child {
  border-radius: 8px;
}

/* Notification */
#custom-notification {
  color: @white;
}

#pulseaudio-slider highlight {
  background: @white;
  border: 1px solid @border;
}

/* Keyframes */
@keyframes blink {
  to {
    color: @white;
  }
}
